<mat-carousel
    timings="500ms ease-in"
    [autoplay]="true"
    maxWidth="auto"
    slideHeight="110%"
    color="primary"
    [loop]="true"
    [hideArrows]="true"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    [maintainAspectRatio]="false"
    orientation="ltr">
    <mat-carousel-slide overlayColor="none" *ngFor="let item of slideItems$ | async" > 
        <div class="slide">
            <div class="slide-image">
                <div class="image-box">
                    <img src="{{checkUrl(item.imageUrls[0])}}" alt="">
                </div>
                <div class="slide-image-descr">
                    <h3 class="h3">Только для вас</h3>
                    <h4 class="h4">{{ item.name }}</h4>
                    <div class="rating">
                        С рейтингом: {{ item.rating }}
                    </div>
                    <div class="price">
                        Всего за: <span class="price-new">{{ newPrice(item.price) }} руб.</span> <sub class="price-old">{{item.price}} руб.</sub>
                    </div>
                    <button class="button" (click)="toItem(item.id, item)">
                        <span class="text">Купить сие чудо</span>
                    </button>
                </div>
            </div>
        </div>
    </mat-carousel-slide>
</mat-carousel>