<div class="nav">
    <h1 class="nav-logo">
        Гоп-Shop
    </h1>
    <button class="button" (click)="bigVisibleMenu($event)">
        <span class="text">
            Каталог
        </span>
    </button>
    <input class="input header-input" name="searchInput" [(ngModel)]="searchInput" (input)="search()" type="text">
    <div class="search" *ngIf="searchVisability" (mouseleave)="hideSearchList()">
        <div class="search-item" *ngFor="let item of searchItems$ | async" (click)="toItem(item)" (click)="hideSearchList()">
            <div class="search-img">
                <img src="{{item.imageUrls[0]}}" alt="">
            </div>
            <div class="search-descr">
                <div class="search-header">
                    {{item.name}}
                </div>
                <div class="search-txt">
                    С рейтингом: {{item.rating}}
                </div>
                <div class="search-txt">
                    ID товара: {{ item.id }}
                </div>
                <div class="search-txt">
                    По цене: {{ item.price }} руб.
                </div>
            </div>
        </div>
    </div>
    <button class="button relative" (click)="switchAccount($event)">
        <span class="text">аккаунт</span>
        <div class="drop-menu" [class.disabled]="accountMenu">
            <div class="account-img">
                <img src="../../../assets/account.png" alt="">
            </div>
            <button class="button">
                <span class="text">
                    Войти
                </span>
            </button>
            <button class="button">
                <span class="text">
                    Выйти
                </span>
            </button>
            <div class="option" (click)="toBasket()">
                <img src="../../../assets/basket.png" alt="">
                <div>Корзина</div>
            </div>
            <div class="option" (click)="toFavor()">
                <img src="../../../assets/heart.png" alt="">
                <div>Избранные товары</div>
            </div>
            <div class="option" (click)="toWait()">
                <img src="../../../assets/view.png" alt="">
                <div>Лист ожидания</div>
            </div>
        </div>
    </button>
    <button class="button relative" (click)="toBasket()">
        <span class="text">
            Корзина
        </span>
    </button>
    <app-big-menu class="fly" [class.invisible]="bigMenu" (mouseleave)="bigVisibleMenu($event)">
    </app-big-menu>
</div>