:host {
    width: 100%;
}
.categories {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    height: 30px;
    margin-top: 10px;
    font-size: 22px;

    &-point {
        
        cursor: pointer;

        &:hover {
            & > hr {
                width: auto;
                max-width: 100%;
                border: 1px solid;
            }
        }
    }
}

.hr-decor {
    max-width: 0;
    border: 0px solid;
    border-color: #FFBA73;
    margin: 0;
    transition: .2s;
}