<div class="big">
    <div class="big-container">
        <div class="big-cat">
            <h2>Категории</h2>
            <div class="cat" *ngFor="let item of categories$ | async" (mouseenter)="select(item.id)">
                <span>
                    {{ item.name }}
                </span>
            </div>
        </div>
        <div class="hr">
        </div>
        <div class="big-subcat">
            <h2>
                {{ sel.name }}
            </h2>
            <div class="subcat" *ngFor="let item of sel.subCategories" (click)="toCategory(item.id)">
                <span>
                    {{ item.name }}
                </span>
            </div>
        </div>
    </div>
</div>