<div class="footer">
    <div class="footer-box">
        <ul class="ul-menu">
            <li class="li-menu">
                <img src="../../../assets/smiling-emoticon-square-face.png" alt="">
                <a href="#">+375 25 502 10 21</a>
            </li>
            <li class="li-menu">
                <img src="../../../assets/call.png" alt="">
                <a href="#">+375 17 302 10 21</a>
            </li>
            <li class="li-menu">
                <img src="../../../assets/mail-footer.png" alt="">
                <a href="#">Почта</a>
            </li>
            <li class="li-menu">
                <img src="../../../assets/viber.png" alt="">
                <a href="#">Viber</a>
            </li>
            <li class="li-menu">
                <img src="../../../assets/telegram.png" alt="">
                <a href="#">Telegram</a>
            </li>
        </ul>
        <ul class="ul-menu">
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/instagram.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/facebook.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/youtube.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/VK_Blue_Logo_t-340x340.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/772px-Odnoklassniki.svg.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
