<div class="footer">
    <div class="footer-box">
        <ul class="ul-menu">
            <li class="li-menu">
                <img src="../../../assets/shuffle.png" alt="">
                <div>номер</div>
            </li>
            <li class="li-menu">
                <img src="../../../assets/shuffle.png" alt="">
                <div>номер</div>
            </li>
            <li class="li-menu">
                <img src="../../../assets/shuffle.png" alt="">
                <div>номер</div>
            </li>
            <li class="li-menu">
                <img src="../../../assets/shuffle.png" alt="">
                <div>номер</div>
            </li>
            <li class="li-menu">
                <img src="../../../assets/shuffle.png" alt="">
                <div>номер</div>
            </li>
            <li class="li-menu">
                <img src="../../../assets/shuffle.png" alt="">
                <div>номер</div>
            </li>
        </ul>
        <ul class="ul-menu">
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/shuffle.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/shuffle.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/shuffle.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/shuffle.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="../../../assets/shuffle.png" alt="">
                </a>
            </li>
            <li class="li-menu">
                <a href="">
                    <img src="" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
